body {
    background-color: rgba(161, 173, 255);
    display: block;
    
}
#nube1 {
    position: absolute;
    right: 0px;
    top: 0px;
}
#nube2 {
    position: absolute;
    left: 10px;
    top: 10px;
}
#nube3 {
    position: absolute;
    left: 200px;
    top: 50%;
}
#cartel {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
#montana1 {
    position: absolute;
    left: 20px;
    bottom: -50px;
    transform: translate(-50%, -50%);
}   
#montana2 {
    position: absolute;
    left: 80%;
    bottom: -100px;
    transform: translate(-50%, -50%);
}
#suelo {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: -20px;
    left: 0px;
    background-image: url('../img/suelo.png');
}   
#Mario {
    position: absolute;
    left: 35%;
    bottom: 60px;
    height: 10%;
}
#planta {
    position: absolute;
    left: 55%;
    bottom: 60px;
    height: 10%;
}
#caja {
    position: absolute;
    left: 50%;
    bottom: 40%;
    height: 10%;
}
#ladrillo1 {
    position: absolute;
    right: 150px;
    bottom: 40%;
    height: 10%;
}
#ladrillo2 {
    position: absolute;
    right: 30px;
    bottom: 40%;
    height: 10%;
}
#caja2 {
    position: absolute;
    right: 90px;
    bottom: 40%;
    height: 10%;
}